---
name: Update iCal files
on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions: {}

jobs:
  update-ics:
    runs-on: ubuntu-latest
    permissions:
      # Required to commit/push
      contents: write
    steps:
      - name: Check out
        # zizmor: ignore[artipacked] needed for git push
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install jq
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y jq=1.7.1-3ubuntu0.24.04.1
          if sudo apt-get upgrade -s jq | tee -a /dev/stderr | grep -q -e '^Inst jq '; then
            exit 1
          fi

      - name: Generate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          ./cerclesdelaforme.sh > cerclesdelaforme.ics
          if [ -z "$(git status -s cerclesdelaforme.ics)" ]; then
            echo No changes to commit
            exit 0
          fi
          git config user.email "check-action@github"
          git config user.name "check-action"
          git add cerclesdelaforme.ics
          git commit -m "build(cerclesdelaforme): update iCal files"
          git push origin "${GITHUB_REF#refs/heads/}"
